
<!--<div class="container">-->
<!--  <h1 class="title"> Title:  {{ rockets?.title }}  </h1>-->
<!--  <div class="description">-->
<!--    <b>Description: </b>  {{ rockets?.description}}-->
<!--  </div> <br>-->
<!--  <div class="creator">-->
<!--    <b>Creator:</b>  {{ rockets?.creator }}-->
<!--  </div> <br>-->

<!--  <div><img class="img" *ngIf="rockets?.imgURL"  [src]='rockets.imgURL' (click)="outputRockets()"/></div>-->
<!--  <div class="type" *ngIf="rockets.type ">-->
<!--    <b>Type:</b>  {{ rockets?.type}}-->
<!--  </div> <br>-->
<!--  <div class="tags">-->
<!--    <b>Tags:</b>  {{ rockets?.tags }}-->
<!--  </div> <br>-->
<!--</div>-->

<div>
  <h1 class="title"> Title:  {{ rockets? rockets.title: "" }}  </h1>
  <div class="description"> <b>Description: </b>  {{ rockets? rockets.description:"" }} </div> <br>
  <div class="creator"> <b>Creater:</b>  {{ animals? animals.creator:"" }}</div> <br>
  <div class="type" *ngIf="rockets? rockets.type  :''"> <b>Type:</b>  {{ rockets?  rockets.type :"" }} </div> <br>
  <div><img class="img" *ngIf="rockets? rockets.imgURL  :''"  [src]='rockets? rockets.imgURL  :""' (click)="outputRockets()"/></div>
</div>
