
:host {
  border: 3px solid rgb(27, 12, 66);
  display: block;
  margin: 0 0 0 40px;
  padding: 0 30px 0 30px ;
  margin: 20px 20px 20px 20px;
  background-color: rgb(116, 136, 156);
}

.img {
  width: 300px;
  height: 300px;
  margin: 10px 0 10px 0;
}

:host.is-first{
  border: black solid 2px;
}
