
<label for="id" >ID: </label>
<input id="id" name="id" type="text" #id>
<br><br>
<label for="title" >Title: </label>
<input id="title" name="title" type="text" #title>
<br><br>
<label for="description">Description: </label>
<input type="text" id="description" name="description" #description>
<br><br>
<label for="creator">Creator: </label>
<input type="text" id="creator" name="creator" #creator>
<br><br>
<label for="type">Type: </label>
<input type="text" id="type" name="type" #type>
<br><br>
<label for="tags">Tags: </label>
<input type="text" id="tags" name="tags" #tags>
<br><br>
<label for="imgURL">Image URL: </label>
<input type="text" id="imgURL" name="imgURL" #imgURL>
<br><br>
<button (click)="addRocket(title.value, description.value, creator.value, imgURL.value, type.value, tags.value)" type="button">Add content</button><br><br>
<button (click)="updateRocket(id.value, title.value, description.value, creator.value, imgURL.value, type.value, tags.value)" type="button">Update content</button> (Should be used only when ID field is entered)
