<br><button mat-raised-button (click)="openDialog()"  color="primary">Add New Content</button>

<!--<app-dialog (newRocketEvent)="addRocketToList($event)"></app-dialog>-->
<!--<app-dialog (newRocketEvent)="getEvent($event)"></app-dialog>-->


<!--<h3 mat-dialog-title>Add a new rocket</h3>-->
<!--<div mat-dialog-content>-->
<!--  <mat-form-field>-->
<!--    <mat-label>ID</mat-label>-->
<!--    <input matInput disabled #id>-->
<!--  </mat-form-field><br>-->

<!--  <mat-form-field>-->
<!--    <mat-label>Title</mat-label>-->
<!--    <input matInput #title>-->
<!--  </mat-form-field><br>-->

<!--  <mat-form-field>-->
<!--    <mat-label>Description</mat-label>-->
<!--    <input matInput #description>-->
<!--  </mat-form-field><br>-->

<!--  <mat-form-field>-->
<!--    <mat-label>Creator</mat-label>-->
<!--    <input matInput #creator>-->
<!--  </mat-form-field><br>-->

<!--  <mat-form-field>-->
<!--    <mat-label>Type</mat-label>-->
<!--    <input matInput #type>-->
<!--  </mat-form-field><br>-->

<!--  <mat-form-field>-->
<!--    <mat-label>Tags</mat-label>-->
<!--    <input matInput #tags>-->
<!--  </mat-form-field><br>-->

<!--  <mat-form-field>-->
<!--    <mat-label>Image URL</mat-label>-->
<!--    <input matInput #imgURL>-->
<!--  </mat-form-field><br>-->
<!--</div>-->

<!--<button (click)="addRocket(title.value, description.value, creator.value, imgURL.value, type.value, tags.value)" mat-raised-button>Add new content</button>-->
<!--<button (click)="updateRocket(id.value, title.value, description.value, creator.value, imgURL.value, type.value, tags.value)" mat-raised-button>Close</button>-->










<!--&lt;!&ndash;<label for="id" >ID: </label>&ndash;&gt;-->
<!--&lt;!&ndash;<input id="id" name="id" type="text" #id>&ndash;&gt;-->
<!--&lt;!&ndash;<br><br>&ndash;&gt;-->
<!--&lt;!&ndash;<label for="title" >Title: </label>&ndash;&gt;-->
<!--&lt;!&ndash;<input id="title" name="title" type="text" #title>&ndash;&gt;-->
<!--&lt;!&ndash;<br><br>&ndash;&gt;-->
<!--&lt;!&ndash;<label for="description">Description: </label>&ndash;&gt;-->
<!--&lt;!&ndash;<input type="text" id="description" name="description" #description>&ndash;&gt;-->
<!--&lt;!&ndash;<br><br>&ndash;&gt;-->
<!--&lt;!&ndash;<label for="creator">Creator: </label>&ndash;&gt;-->
<!--&lt;!&ndash;<input type="text" id="creator" name="creator" #creator>&ndash;&gt;-->
<!--&lt;!&ndash;<br><br>&ndash;&gt;-->
<!--&lt;!&ndash;<label for="type">Type: </label>&ndash;&gt;-->
<!--&lt;!&ndash;<input type="text" id="type" name="type" #type>&ndash;&gt;-->
<!--&lt;!&ndash;<br><br>&ndash;&gt;-->
<!--&lt;!&ndash;<label for="tags">Tags: </label>&ndash;&gt;-->
<!--&lt;!&ndash;<input type="text" id="tags" name="tags" #tags>&ndash;&gt;-->
<!--&lt;!&ndash;<br><br>&ndash;&gt;-->
<!--&lt;!&ndash;<label for="imgURL">Image URL: </label>&ndash;&gt;-->
<!--&lt;!&ndash;<input type="text" id="imgURL" name="imgURL" #imgURL>&ndash;&gt;-->
<!--&lt;!&ndash;<br><br>&ndash;&gt;-->
<!--&lt;!&ndash;<button (click)="addRocket(title.value, description.value, creator.value, imgURL.value, type.value, tags.value)" type="button">Add content</button><br><br>&ndash;&gt;-->
<!--&lt;!&ndash;<button (click)="updateRocket(id.value, title.value, description.value, creator.value, imgURL.value, type.value, tags.value)" type="button">Update content</button>&ndash;&gt;-->
<!--&lt;!&ndash;(Should be used only when ID field is entered)&ndash;&gt;-->
