<!--<p>app-messages works!</p>-->
<div class="message" *ngIf="messagesService.messages.length">



  <mat-card class="example-card">
    <mat-card-title><h2>Message:<span [matBadge]="messagesService.messages.length" matBadgeOverlap="false"></span></h2></mat-card-title>
    <mat-card-content>
      <mat-card-subtitle><div *ngFor='let message of messagesService.messages'> {{message}} </div></mat-card-subtitle>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>

      <button mat-flat-button color="primary" type="button" class="clear" (click)="messagesService.clear()">Clear message</button>
    </mat-card-actions>
<!--    <mat-card-footer>-->
<!--      <mat-progress-bar mode="query" *ngIf="messagesService.messages.length>0"></mat-progress-bar>-->
<!--    </mat-card-footer>-->
  </mat-card>

</div>
