.noType{
  background-color: rgb(181, 210, 253);

}

.booster{
  background-color: rgba(58,148,47,0.69)
}

.capsule{
  background-color: #265494
}

.launch_vehicle{
  background-color: #895894
}

.found{
  color: green;
}

.not-found{
  color: red;
}
