
<!--<app-content-card *ngFor="let item of rockets; index as i; first as isFirst"-->
<!--                  [rockets]="item" [class.is-first]="isFirst" ></app-content-card>-->

<!--<br><app-modify-content-component (newRocketEvent)="addRocketToList($event)" (updateRocketEvent)="updateRocketInList($event)">-->

<!--</app-modify-content-component>-->
<app-modify-content-component (newRocketEvent)="addRocketToList($event)"></app-modify-content-component>



<div class="search-box">
  <mat-form-field>
    <mat-label for="search">Search by title</mat-label>
    <input matInput type="text" placeholder="Enter title" #searchBox>
  </mat-form-field>
  <button mat-raised-button (click)=titleFilter(searchBox.value)>Submit</button>
  <p *ngIf="result == 'Found'" class="found">{{ result }}</p>
  <p *ngIf="result == 'Not Found'" class="not-found">{{ result }} </p>

</div>



<app-content-card class="noType"
                  *ngFor="let item of rockets | filterType: ''; first as isFirst"
                  [rockets]="item"
                  [class.is-first]="isFirst"
></app-content-card>
<app-content-card class="booster"
                  *ngFor="let item of rockets | filterType: 'booster'; first as isFirst"
                  [rockets]="item"
                  [class.is-first]="isFirst"
></app-content-card>

<app-content-card class="launch_vehicle"
                  *ngFor="let item of rockets | filterType: 'Launch vehicle'; first as isFirst"
                  [rockets]="item"
                  [class.is-first]="isFirst"
></app-content-card>

<app-content-card class="capsule"
                  *ngFor="let item of rockets | filterType: 'Capsule'; first as isFirst"
                  [rockets]="item"
                  [class.is-first]="isFirst"
></app-content-card>

